header
    .container
        a.logo(href=url_for())
            img(src=url_for(theme.logo))

        span(class='span-holder')

        i(class='fa fa-bars', id='togglenav')

        nav
            each value, key in theme.menu
                - var re = /^(http|https):\/\/*/g
                - var tar = re.test(value) ? '_blank' : '_self'
                a(href=url_for(value) target=tar)
                    //- i(class='fa fa-#{key}')
                    span(class='nav-label') &nbsp;#{key}
